/***********************************
* Responsive media queries code *
************************************/
html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Most of the Mobile Phone Code */
@media ( min-width: 320px) and (max-width: 480px) {
/* code start */
.header-section {
  width: 97%;
}
.header-section .banner-part h1 {
  font-size: 36px;
  padding-top: 140px;
  letter-spacing: 2px;
}
.header-section .banner-part p {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0;
}
.header-section .banner-part .dash {
  width: 120px;
  padding: 10px 0;
}
.header-section .banner-part .btn-light {
  font-size: 12px;
  margin-bottom: 120px;
}
.art-section {
  width: 97%;
}
.art-section .bult {
  width: 100%;
  margin: -12px 0px 30px 0px;
}
.art-section .text-part h2 {
  font-size: 28px;
}
.art-section .text-part h6 {
  font-size: 10px;
  margin-bottom: 30px;
}
.art-section .text-part p {
  font-size: 12px;
  line-height: 18px;
  margin: 0px 15px 20px;
}
.art-section .text-part h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.art-section .avt {
  width: 35%;
}
.art-section .text-part h5 {
  margin-bottom: 30px;
}
.art-section .quotation-text .quot {
  margin: 45px 5px 20px;
}
.art-section .right-img .vect {
  width: 50%;
  margin: -1172px 75px 0;
}
.tasty-section {
  width: 97%;
}
.tasty-section .blank-img {
  margin: 0px;
}
.tasty-section .blank-img .rat {
  margin: 40px 10px;
  width: 15px;
}
.tasty-section .blank-img .text-part h1 {
  font-size: 32px;
  line-height: 40px;
}
.tasty-section .blank-img .text-part {
  padding: 15px 10px 40px 60px;
  width: 98%;
}
.tasty-section .blank-img .text-part h6 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}
.tasty-section .blank-img .text-part .slider {
  margin: 40px 20px;
}
.breakfast-section {
  width: 97%;
}
.breakfast-section .text-part {
  width: 97%;
  margin: 50px 0px 20px;
}
.breakfast-section .text-part h1 {
  font-size: 30px;
}
.breakfast-section .text-part h6 {
  font-size: 9px;
  margin-bottom: 15px;
}
.breakfast-section .text-part h4 {
  font-size: 20px;
  line-height: 26px;
}
.breakfast-section .text-part p {
  font-size: 12px;
  margin-bottom: 15px;
}
.breakfast-section .text-part h5 {
  font-size: 18px;
}
.breakfast-section .banner-part{
  width: 97%;
  margin: 50px 0;
}
.breakfast-section .banner-part .one {
 width: 294px;
}
.breakfast-section .banner-part .two {
 width: 250px;
}
.breakfast-section .banner-part .three {
 width: 207px;
}
.sandwich-section {
  width: 97%;
  margin: 385px 0px 0px;
}
.sandwich-section .top-part .vek {
  width: 258px;
  margin-top: -30px;
}
.sandwich-section .top-part h1 {
  font-size: 26px;
  font-weight: 600;
  margin: -30px 0px 0px;
}
.sandwich-section .top-part h6 {
  font-size: 12px;
}
.sandwich-section .left-part img {
  width: 95px;
  margin-top: 15px;
}
.sandwich-section .left-part h4 {
  font-size: 20px;
  line-height: 28px;
}
.sandwich-section .left-part p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
}
.sandwich-section .btn-light {
  font-size: 12px;
  margin: -55px 0px 0px -10px;
}
.bottom-section {
  width: 97%;
}
.bottom-section .bottom-left{
  width: 100%;
  padding: 5px -1px
}
.bottom-section .bottom-right{
  width: 100%;
  padding: 5px -1px
}
.bottom-section .bottom-left li a {
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 45px;
}
.bottom-section .bottom-right li a {
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 45px;
}
.bottom-section .blogo {
  width: 120px;
}


/* code end */
}
/* Most of the Mobile Phone and low-resolution Tablet Code */
@media ( min-width: 481px) and (max-width: 767px) {
/* code start */




/* code end */
}
/* Most of the Tablet Phone and mini notebook Code */
@media ( min-width: 768px) and (max-width: 1024px) {
/* code start */
.header-section {
  width: 97%;
}
.header-section .navbar-toggler {
  margin-right: 20px;
}
.art-section .bult {
  margin: -25px 0 40px 10px;
}
.art-section .text-part h2 {
  font-size: 32px;
}
.art-section .text-part h6 {
  font-size: 11px;
  margin-bottom: 20px;
}
.art-section .text-part p {
  font-size: 11px;
  line-height: 18px;
  margin: 0px 20px 20px;
}
.art-section .text-part h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.art-section .text-part h5 {
  font-size: 16px;
  margin-top: 25px;
}
.art-section .quotation-text {
  margin: 10px 0 20px;
}
.art-section .right-img .vect {
  width: 55%;
  margin: -360px -53px 0;
}
.tasty-section {
  width: 97%;
}
.tasty-section .blank-img {
  width: 719px;
  margin: 30px 25px;
  height: 394px;
}
.tasty-section .blank-img .text-part {
  padding: 0px 100px 40px 35px;
  margin: 0 -60px;
  width: 425px;
  height: 425px;
}
.tasty-section .blank-img .rat {
  margin: 153px 15px;
  width: 20px;
}
.tasty-section .blank-img .text-part h1 {
  font-size: 32px;
  line-height: 42px;
}
.tasty-section .blank-img .text-part h6 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.tasty-section .offer {
  margin: 0px 30px;
  width: 100%;
}
.tasty-section .blank-img .text-part p {
  font-size: 12px;
  line-height: 20px;
}
.tasty-section .blank-img .text-part .slider {
  margin: 40px 18px;
}
.breakfast-section {
  width: 97%;
}
.breakfast-section .text-part {
  width: 97%;
  margin: 50px 0;
}
.breakfast-section .text-part h1 {
  font-size: 30px;
}
.breakfast-section .text-part h6 {
  font-size: 9px;
  margin-bottom: 15px;
}
.breakfast-section .text-part h4 {
  font-size: 20px;
  line-height: 26px;
}
.breakfast-section .text-part p {
  font-size: 12px;
  margin-bottom: 15px;
}
.breakfast-section .text-part h5 {
  font-size: 18px;
}
.breakfast-section .banner-part{
  width: 97%;
  margin: 50px 0;
}
.breakfast-section .banner-part .one {
 width: 320px;
}
.breakfast-section .banner-part .two {
 width: 278px;
}
.breakfast-section .banner-part .three {
 width: 236px;
}
.sandwich-section {
  width: 97%;
  margin: 0px;
}
.sandwich-section .top-part .vek {
  width: 358px;
  margin-top: -30px;
}
.sandwich-section .top-part h1 {
  font-size: 26px;
  font-weight: 600;
  margin: -30px 0px 0px;
}
.sandwich-section .top-part h6 {
  font-size: 12px;
}
.sandwich-section .left-part img {
  width: 95px;
}
.sandwich-section .left-part h4 {
  font-size: 20px;
  line-height: 28px;
}
.sandwich-section .left-part p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 5px;
}
.sandwich-section .btn-light {
  font-size: 12px;
  margin: -55px 0px 0px -10px;
}
.bottom-section {
  width: 97%;
}
.bottom-section .bottom-left {
  padding: 5px 0px 0px 30px;
}
.bottom-section .bottom-right {
  padding: 5px 0px 0px 30px;
}
.bottom-section .bottom-left li a {
  font-size: 13px;
  letter-spacing: 1px;
  margin-right: 45px;
}
.bottom-section .bottom-right li a {
  font-size: 13px;
  letter-spacing: 1px;
  margin-right: 45px;
}
.bottom-section .blogo {
  margin-left: 5px;
  width: 100px;
}
/* code end */
}

